.collabCompanies {
  height: 603px;
  width: inherit;
  background-color: #f4f5f7;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collabCompanies_heading {
  font-size: 48px;
  padding: 3.6rem 0 0 0;
  text-align: center;
}

.collabCompanies_desc {
  height: max-content;
  width: 40rem;
  font-size: 18px;
  color: black;
  padding: 0.5rem 0 1rem 0;
  font-weight: 500;
  text-align: center;
}

.companieslogo {
  height: 350px;
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 8.2rem;
  margin-top: 1rem;
}

.companieslogo > div {
  height: 100%;
  width: 13rem;
  margin: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.element {
  height: 93px;
  width: 170px;
  background-color: white;
  border-radius: 10px;
  margin-top: 1.5rem;
  box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
