.image__gallery {
  height: 30rem;
  width: 100%;
  margin-top: 7.5rem;
  display: flex;
}

.image__gallery .left {
  padding: 0rem 7.5rem;

  width: 56.5%;
  background-color: white;
}

.image__gallery .left h1,
.image__gallery.part6 .right h1 {
  text-align: start;
  font-size: 64px;
  line-height: 76px;
  font-weight: 700;
  margin-bottom: 2.5rem;
}

p.IG_desc {
  height: max-content;
  width: 90%;
  font-size: 16px;
  line-height: 32px;
}

.image__gallery.part6 .right p.IG_desc {
  width: 75% !important;
}

.IG_button {
  padding: 14px;
  border-radius: 8px;
  width: 160px;
  font-size: 14px;
  color: #fff;
  background-color: #f84646;
  border: none;
  margin-top: 4.8rem;
}

.right,
.image__gallery.part6 .left {
  height: auto;
  width: max-content;
  display: flex;
}

.image__gallery.part6 {
  margin-bottom: 10rem;
}

.image__gallery.part6 .right {
  display: flex;
  flex-direction: column;
}

.image__gallery.part6 .right {
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;
}

.image__gallery.part6 .right .IG_desc {
  width: 32rem;
}
